body {
    font-family: Cantarell, 'Droid Sans', Ubuntu, 'DejaVu Sans', Arial, sans-serif;
    font-size: 14px;
    line-height: 1.6;
}

._gnome-switch.customized .update {
    border-color: #559424;
    background-color: #60b94a;
    cursor: pointer;
}

._gnome-switch.customized .update:hover {
    background-color: #71ca5b;
}

._gnome-switch.customized .error {
    border-color: #a43465;
    background-color: #d94a60;
}
